/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(140deg, #303a2d, #4b6043);
  padding-top: 80px;
}

/* FEATURES */
.feature-card {
  transition: .3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

/* TIME */
.team-card img {
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.team-card {
  transition: .3s;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}
